<ion-grid *ngIf="calificacionesList.length>0">
  <ion-row size="15">
      <ion-col size="2">Materia</ion-col>
      <ion-col size="2">Calificacion</ion-col>
      <ion-col size="2">Estado</ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="2"></ion-col>
  </ion-row>
  <ion-row size="15" *ngFor="let calificacion of calificacionesList">
      <ion-col size="2">
        {{calificacion.materia}}
    </ion-col>
      <ion-col size="2">
          {{calificacion.calificacion}}
      </ion-col>
      <ion-col size="2">
        {{calificacion.estadoAR}}
    </ion-col>
      <ion-col size="2" (click)="editar.emit(calificacion)"><a>Editar</a></ion-col>
      <ion-col size="2" (click)="eliminar.emit(calificacion.id)"><a>Eliminar</a></ion-col>
  </ion-row>
</ion-grid>